.login-overlay {
  position: fixed;
  inset: 0;
  background: rgba(86, 86, 86, 0.55); /* Tint */
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.login-modal {
  background: #000000;
  color: white;
  padding: 30px;
  border-radius: 12px;
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 0 8px 30px rgba(0,0,0,0.2);
}

.login-modal h2 {
  margin: 0;
}

.loginTitle {
    justify-content: center;
}

.login-modal input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #bbb;
}

.login-btn {
  background: #ffffff;
  color: rgb(0, 0, 0);
  padding: 7px;
  width: 50%;
  margin-left: 25%;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.close-btn {
  background: transparent;
  border: none;
  padding: 8px;
  cursor: pointer;
  color: #c9c5c5;
  font-size: 0.9rem;
  text-decoration: underline;
}

/* Modal box */
.login-modal {
  background: #000;
  color: white;
  padding: 30px;
  border-radius: 12px;
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 0 8px 30px rgba(0,0,0,0.2);
}

/* Container for the tabs */
.tabs {
  display: flex;
  width: 350px;      /* SAME width as modal */
  margin-bottom: -1px;
  z-index: 2100;
}

/* Each tab is 50% */
.tab {
  flex: 1;
  text-align: center;
  padding: 12px 0;
  background: #222;
  color: #aaa;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s;
  border-radius: 10px 10px 0 0;
}

/* Active tab */
.tab.active {
  background: #fff;
  color: #000;
  box-shadow: 0 0 8px #ffffff88;
}

/* Make tabs sit ABOVE modal perfectly */
.login-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
