.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px 5%;
  background-color: #000;
  color: white;
  gap: 10px;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
}

.logoText {
  font-family: 'Jersey 15', sans-serif;
  font-size: 3rem;
  margin: 0;
}

.team-under-line {
  width: 100%;
  max-width: 250px;
  margin-top: -10px;
  margin-left: -20px;
}

/* --- Search --- */
.search-container {
  display: flex;
  align-items: center;
  flex: 1.5;
  min-width: 200px;
  max-width: 400px;
}

.search-bar {
  flex: 1;
  height: 30px;
  background: #30333C;
  border-radius: 10px;
  color: white;
  text-align: right;
  padding-right: 36px;
  border: none;
}

.search-button {
  background: none;
  border: none;
  color: white;
  font-size: 25px;
  cursor: pointer;
  margin-left: -35px;
  z-index: 2;
  transition: transform 0.2s ease, text-shadow 0.2s ease;
}

.search-button:hover {
  transform: scale(1.3);
  text-shadow: 0 0 12px white, 0 0 20px #fff;
}

.search-button:active {
  transform: scale(1.2);
  text-shadow: 0 0 14px white, 0 0 25px #fff;
}

/* --- Sections --- */
.header-sections {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 2;
  position: relative;
  gap: 3rem;
  flex-wrap: wrap;
}

.section-btn {
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  font-family: 'Russo One', sans-serif;
}

.section-line {
  position: absolute;
  bottom: -35%;

  transition: left 0.4s ease;
  width: 18%;
}

/* --- Log Buttons --- */
.logSections {
  display: flex;
  gap: 10px;
  flex-shrink: 0;
}

.log-btn {
  background: none;
  border: 1px solid white;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

/*---Whatever small screen without line---*/
@media(max-width: 1180px) {
  .section-line {
    display: none;
  }

}


/* --- Mobile --- */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
    gap: 15px;  
  }

  .logo-container {
    align-items: center;
  }

  .search-container {
    width: 90%;
    justify-content: center;
  }

  .header-sections {
    gap: 1.5rem;
    justify-content: center;
  }

  .section-line {
    width: 60px;
    bottom: -10px;
    width: 40px;
  }

  .logSections {
    justify-content: center;
  }
}
